
.ant-select.ILTextInput .ant-select-selector {
    padding: 4px var(--mid-space);
    min-height: 46px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    color: var(--tnl-black);
    background-color: var(--tnl-white);
    border: 1px solid var(--tnl-aquamarine-ocean);
    transition: var(--transition-smooth);
    min-width: 150px;
  }
  .ant-select.ILTextInput .ant-select-selector:hover{
    background-color: var(--tnl-white);
  }  
.ant-select.ILTextInput .ant-select-selector:focus,
.ant-select.ILTextInput .ant-select-selector:focus-within,
.ant-select.ILTextInput .ant-select-selector:focus-visible{
    border-color: var(--tnl-primary-rgb);
    background-color: var(--tnl-tristesse);
    outline: none;
    box-shadow: none;
}
/* .ILInputLabelText {
  font-size: 14px;
  font-weight: 500;
  color: var(--tnl-tristesse);
  margin-bottom: 8px;
} */
.ant-select.ILTextInput .ant-select-arrow,
.ant-select.ILTextInput .ant-select-selection-search .ant-select-selection-search-input{
    height: 100%;
}