
.ant-select.ILTextInput .ant-select-selector {
    padding: 4px var(--mid-space);
    min-height: 46px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    color: var(--tnl-black);
    background-color: transparent;
    border: 1px solid var(--tnl-aquamarine-ocean);
    transition: var(--transition-smooth);
  }
  .ant-select.ILTextInput .ant-select-selector:hover{
    background-color: var(--tnl-white);
  }  
.ant-select.ILTextInput .ant-select-selector:focus,
.ant-select.ILTextInput .ant-select-selector:focus-within,
.ant-select.ILTextInput .ant-select-selector:focus-visible{
    border-color: var(--tnl-primary-rgb);
    background-color: var(--tnl-tristesse);
    outline: none;
    box-shadow: none;
}
.ant-select.ILTextInput .ant-select-selector::placeholder {
    font-weight: 400;
    color: var(--tnl-red-radish);
}
.ILInputLabelText {
  font-size: 14px;
  font-weight: 500;
  color: var(--tnl-tristesse);
  margin-bottom: 8px;
}
