
.custom-sidebar.ant-layout-sider{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-sidebar.ant-layout-sider,
.custom-sidebar.ant-layout-sider ul {
    background-color: var(--tnl-dark-rift);   
}
.custom-sidebar.ant-layout-sider ul{
    padding: 0;
}
.custom-sidebar .demo-logo-vertical{
    padding: 20px;
}
.custom-sidebar .ant-menu-item{
    color: var(--tnl-rapunzel-silver);
    font-size: 16px;
    font-weight: 500;
    height: 45px;
    line-height: 45px;
    margin-bottom: 15px;
}
.custom-sidebar .ant-menu-item b svg{
    max-width: 20px;
    max-height: 20px;
}
.custom-sidebar .ant-menu-item{
    border-left: 5px solid transparent;
    border-radius: 0;
}
.custom-sidebar .ant-menu-item.ant-menu-item-selected{
    background-color: transparent;
    border-color: var(--tnl-primary-rgb);
}
.custom-sidebar .logo{
    max-width: 50px;
}
.custom-sidebar.ant-layout-sider-collapsed .demo-logo-vertical {
    padding: 20px 15px;
}
.custom-sidebar.ant-layout-sider-collapsed .ant-menu-item{
    padding-inline: calc(50% - 8px - 10px);
}
.custom-sidebar .ant-menu-item:hover .ant-menu-title-content,
.custom-sidebar .ant-menu-item:hover b{
    color: var(--tnl-primary-rgb);
}
.custom-sidebar .ant-layout-sider-trigger{
    background-color: var(--tnl-primary-rgb);
}
.custom-sidebar.ant-layout-sider-collapsed {
    min-width: 80px !important;
    width: 80px !important;
}
.ant-layout-sider.custom-sidebar .ant-layout-sider-zero-width-trigger{
    width: 25px;
    height: 25px;
    border-radius: 30px;
    top: 22px;
    inset-inline-end: -15px;
    background: var(--tnl-orignal-gray);
    z-index: 1000;
}
.ant-layout-sider.custom-sidebar .ant-layout-sider-zero-width-trigger span{
    display: none;
}
.ant-layout-sider.custom-sidebar .ant-layout-sider-zero-width-trigger::after{
    content: '';
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTYuMTcxNiAxMC45OTk5TDEwLjgwNzYgNS42MzU4OUwxMi4yMjE4IDQuMjIxNjhMMjAgMTEuOTk5OUwxMi4yMjE4IDE5Ljc3OEwxMC44MDc2IDE4LjM2MzhMMTYuMTcxNiAxMi45OTk5SDRWMTAuOTk5OUgxNi4xNzE2WiI+PC9wYXRoPjwvc3ZnPg==); */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTMuMTcxNyAxMi4wMDA3TDguMjIxOTIgNy4wNTA5M0w5LjYzNjE0IDUuNjM2NzJMMTYuMDAwMSAxMi4wMDA3TDkuNjM2MTQgMTguMzY0Nkw4LjIyMTkyIDE2Ljk1MDRMMTMuMTcxNyAxMi4wMDA3WiI+PC9wYXRoPjwvc3ZnPg==);
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-zero-width-trigger::after{
    transform: translate(-50%, -50%) rotate(360deg);
}
.ant-layout-sider.custom-sidebar .ant-layout-sider-zero-width-trigger:hover::after{
    background-color: unset;
}