@media (max-width: 1439px) {
    .big.primary-title {
        font-size: 36px;
    }
}
@media (max-width: 1360px) {
    :root{
        --container-size: calc(100% - 20px);
    }
}
@media (max-width: 1199px) {
    :root{
        --container-size: calc(100% - 40px);
    }
    .primary-title{
        font-size: 24px;
    }
    .big.primary-title {
        font-size: 28px;
    }
    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    .h3.big {
        font-size: 17px;
    }
    h4,.title-label {
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    :root{
        --container-size: calc(100% - 30px);
        --tnl-space-md: 35px;
        --tnl-space-sm: 25px;
        --xx-space: 25px;
        --yy-space: 25px;
        --mid-space: 15px;
    }
    .form-control,.form-control::placeholder{
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    :root{
        --header-height: 60px;
        --container-size: calc(100% - 12px);
        --section-default-space: 10px;
    }
    .primary-title{
        font-size: 22px;
    }
    
    .secondary-title{
        font-size: 18px;
    }
    h5,
    .h5 {
      font-size: 14px;
    }
}
@media (max-width: 575px){
    .big.primary-title {
        font-size: 26px;
    }
     h1,.primary-title {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
    }
    
    .h3.big {
        font-size: 16px;
    }
    h4,.title-label {
        font-size: 14px;
    }
}