:root {
  /* color */
  --tnl-primary-rgb: #4863e1;
  --tnl-primary-rgb-light: #6985e2;
  --tnl-white: #ffffff;
  --tnl-black: #000000;
  --tnl-tristesse: #dae0f9;
  --tnl-tristesse-01: #e5eafb;
  --tnl-night-night: #183883;
  --tnl-night-dark: #5170ff;
  --tnl-rapunzel-silver: #111111;
  --tnl-white-edgar: #5e5e5e;
  --tnl-steam: #444444;
  --tnl-dr-white: #f3f0f0;
  --tnl-grey-heather: #e0e7f8;
  --tnl-dark-rift: #f6f8fc;
  --tnl-retro-lime: #47b177;
  --tnl-red-radish: #7b7c7e;
  --tnl-canadian-pine: #e8ecfa;
  --tnl-aquamarine-ocean: #d0d0d0;
  --tnl-freshmint: #f6f8fc;
  --tnl-whiteout: #9f9f9f;
  --tnl-blue-antarctic: #666666;
  --tnl-nero: #1c1b1f;
  --tnl-insignia-white: #e7e7e7;
  --tnl-delicate-viola: #f2f6fc;
  --tnl-grey-les: #8a8d96;
  --tnl-grey-les-light: #949597;
  --tnl-white-f1: #f3f3f3;
  --tnl-red: red;
  /* box shadow */
  --tnl-tnl-primary-shadow: -6px 6px 48.8px 0px #00000026;
  --tnl-tnl-secondary-shadow: 0px 2px 2px 0px #00000003;
  /* space */
  --tnl-space-md: 40px;
  --tnl-space-sm: 30px;
  --tnl-space-xs: 20px;
  /* header height */
  --header-height: 80px;
  /* container */
  --container-size: calc(100% - 80px);
  /* transition */
  --transition-smooth: all 0.3s;
  /* section default space */
  --section-default-space: 20px;
  --xx-space: 30px;
  --yy-space: 30px;
  /* form control space */
  --mid-space: 20px;
  /* fonts */
  --tnl-primary-font: "Inter", Arial, sans-serif;
}
