.setting-table-wrap .ant-tabs-tab-btn{
    font-size: 16px;
}
.setting-table-wrap .ant-tabs-tab-btn .svg-icon-edit-profile{
    transform: translateY(-1px);
}
.setting-table-wrap .ant-tabs-tab-btn .svg-icon-home{
    transform: translateY(-3px);
}
.setting-table-wrap.ant-tabs{
    height: 100%;
}
.setting-tab-logout-btn-wrap{
    padding: 8px 70px;
    text-align: center;
    bottom: 0;
    min-height: 60px;
}