.data-legency-folder-view {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 25px;
}
.data-legency-folder-box {
  width: 100%;
  min-height: 115px;
  border-radius: 20px;
  padding: 12px 24px;
  background-color: var(--tnl-tristesse);
}
.data-legency-folder-box h4 {
  color: var(--tnl-black);
}
.data-legency-folder-box h6 {
  color: var(--tnl-grey-les);
}
.data-legency-folder-box:hover {
  background-color: var(--tnl-primary-rgb-light);
}
.data-legency-folder-box:hover h4 {
  color: var(--tnl-white);
}
.data-legency-folder-box:hover h6 {
  color: var(--tnl-dr-white);
}
.data-legency-files-view {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}

.ldd-folder-n-file {
  background-color: var(--tnl-tristesse-01);
  padding: 12px 18px;
  min-width: 150px;
  border-radius: 8px;
  /* border: 1px solid grey; */
}
.ldd-folder-n-file-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ldd-folder-n-file-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.ldd-top-filters {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin: 1rem orem;
}
